$color-primario: #55A;
$color-secundario: #6B6;
$color-texto: #666;
$color-contenido-xs: rgb(240, 0, 0);
$color-contenido-sm: rgb(240, 0, 0);
$color-contenido-md: rgb(240, 0, 0);
$color-contenido-lg:rgb(240, 0, 0);
$color-contenido-xl:rgb(240, 0, 0);

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;
$largo: 50px;