@import "../libs/bootstrap/scss/bootstrap.scss";

.cols1{
    background-color: blueviolet;
}
.cols2{
    background-color: chartreuse;
}
.cols3{
    background-color: cornflowerblue;
}
.cols4{
    background-color: darkorange;
}
h1{
    color: rgb(255, 255, 255);
}