/*Centro De Biotecnologia Agropecuaria
    Analisis y Desarrollo de Software
    Ficha: 2470980
    Autor: Juan Sebastián Girardot Antonio 
    Fecha de creación: 26/Abril/2022*/
$color-contenido-sm: rgb(24, 0, 240);
$color-contenido-md: rgb(41, 255, 3);
$color-contenido-lg: rgb(255, 3, 45);
$color-contenido-xl: rgb(255, 238, 3);


$largo: 50px;
/*En esta parte damos variables las cuales tienen como nombre "color-contenido-sm,md,lg, xl, etc. Tambien inicializamos la variable "$largo" en 50px.*/