/*Centro De Biotecnologia Agropecuaria
    Analisis y Desarrollo de Software
    Ficha: 2470980
    Autor: Juan Sebastián Girardot Antonio 
    Fecha de creación: 26/Abril/2022*/


    
@mixin contenido-largo($valor) {
    height: $largo*$valor;
}
/*Aca en el mixin, le decimos a la variable largo, que el valor dado lo multiplique con un height y por el valor dado al digitar y inicializamos largo con 50px */