@import "../libs/bootstrap/scss/bootstrap.scss";
.color1{
    background-color: rgb(226, 168, 43);
}
.color2{
    background-color: rgba(4, 0, 255, 0.658);
}
.color3{
    background-color: rgb(223, 32, 105);
}

p{
    color: rgb(255, 255, 255);
    text-align: center;
}