/*Centro De Biotecnologia Agropecuaria
    Analisis y Desarrollo de Software
    Ficha: 2470980
    Autor: Juan Sebastián Girardot Antonio 
    Fecha de creación: 26/Abril/2022*/
$color-contenido-sm: rgb(240, 0, 0);
$color-contenido-md: rgb(240, 0, 0);
$color-contenido-lg:rgb(240, 0, 0);


$largo: 50px;
/*En esta parte damos variables las cuales tienen como nombre "color-contenido-xs,md,lg, etc. Tambien inicializamos la variable "$largo" en 50px.*/